fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pydantic
pydantic[email]
# pydantic-settings==2.12.0
# python-dotenv==1.2.1
pytest
pytest-cov
httpx  # Required for FastAPI TestClient

# Embeddings (Open Source)
sentence-transformers
pgvector
numpy
torch
openai